@tailwind base;
@tailwind components;

.header-item {
  @apply ml-8 p-4 h-full bg-gray-800 rounded-lg shadow-md text-gray-200;
}

@keyframes popup {
  0% {
    @apply transform scale-50;
  }
  70% {
    @apply transform scale-75;
  }
  100% {
    @apply transform scale-100;
  }
}

.popup {
  animation-name: popup;
  animation-duration: 0.02s;
  animation-timing-function: ease-in-out;
}

.color-circle > div > div {
  @apply rounded-md;
}

@tailwind utilities;
